@{
    ViewData["Title"] = "To Do List1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<ToDoList1.Models.Category>


<h2>To Do List</h2>
<hr />
<h4>@Html.DisplayNameFor(model => model.Name)</h4>
<ul>
    @foreach (var listItem in Model)
    {
        <li>@Html.DisplayFor(modelItem => listItem.Name) | @Html.ActionLink("Details", "Details", new { id = listItem.CategoryId }) | @Html.ActionLink("Edit", "Edit", new { id = listItem.CategoryId }) | @Html.ActionLink("Delete", "Delete", new { id = listItem.CategoryId })</li>
    }
</ul>
<p>@Html.ActionLink("Add new category", "Create")</p>
